<a href="https://colab.research.google.com/github/mayurgite/appliedAI/blob/master/Python_Assignment_AppliedAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python version:** 3.6.9

**1. Write a function that inputs a number and prints the multiplication table of that number**

In [ ]:
while True:
  try:
    num = int(input('Enter number:'))
    break
  except:
    print('Invalid number entered, please enter proper number value...')

a = [num * i for i in range(1,11)]
print(a)

Enter number:5
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

**2. Write a program to print twin primes less than 1000. If two consecutive odd numbers are
both prime then they are known as twin primes**

In [ ]:
a = []

def isPrime(num):
  for i in range(2,num):
    if num % i == 0:
      return False
  
  return True

def printTwins(a):
  for key , num in enumerate(a):
    if key < len(a) - 1 and a[key+1] - num == 2:
      print(f'({num},{a[key+1]})')

def getTwinPrime():

  for i in range(2,1000):
    if isPrime(i):
      a.append(i)
  
  printTwins(a)

getTwinPrime()

(3,5)
(5,7)
(11,13)
(17,19)
(29,31)
(41,43)
(59,61)
(71,73)
(101,103)
(107,109)
(137,139)
(149,151)
(179,181)
(191,193)
(197,199)
(227,229)
(239,241)
(269,271)
(281,283)
(311,313)
(347,349)
(419,421)
(431,433)
(461,463)
(521,523)
(569,571)
(599,601)
(617,619)
(641,643)
(659,661)
(809,811)
(821,823)
(827,829)
(857,859)
(881,883)